.App {
  text-align: center;
}

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100;
  animation: App-logo-spin infinite 30s linear;
  height: 600px;
}

.App-header {
  background-image: url("./red_5.jpg");
  background-size: cover;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
