.App {
  text-align: center;
  opacity: .4;
  background-image: url("./red_5.jpg");
  background-color: rgb(133, 36, 36);
  background-size: cover;
  padding: 20px;
  color: white;
}
<<<<<<< HEAD
=======



>>>>>>> master

.App-title {
  font-size: 2.5em;
  color: black;
}
.footer {
  height: 50px;
  margin-top: -50px;
  width: 100%;
  padding: 1rem;
  margin: .5rem 1rem;
  text-align: center;

  }



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
