.btn {
    flex-direction: column;
    justify-content: space-between;
} 
.hidden{
    display: none;
}

textarea {
    color: black;
}

.button {
    
    border-radius: 10px;
    border: 15px solid beige;
    background-color: beige;
    text-align: center;
    color: black;
}