/* .btn {
    flex-direction: column;
    justify-content: space-between;
} */
/* .hidden{
    display: none;
} */

/* textarea {
    color: black;
} */

button {
    outline-style: solid;
    border: 1px solid black;
    text-align: center;
}