
.size2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;

}
.BrokenCookie {
    position: center;
    height: auto, center;
    width: 200px, center;


}
.words {
    position: absolute;
    text-outline: 5px;
    top: 450ems;
    bottom: 500ems;
}
